/* #region Body */
    body, html {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        
        overflow: hidden;
    }

    /* #region Page Subdividion */

        /* #region Toolbar */
            .menu {
                -webkit-app-region: drag;

                width: 100%;
                height: 20px;

                background-color: rgb(31, 33, 37);
                justify-content: flex-end !important;
            }

            /* #region Window-Controls*/
                .window-controls {
                    height: 100%;
                }

                /* #region Window-Controls Images*/
                    .window-controls img {
                        -webkit-app-region: no-drag;

                        margin-right: 11px;
                        filter: invert(50%);

                        transition: all .7s;
                        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                    .window-controls img:hover {
                        filter: invert(100%);
                    }
                    #minimize-control { width: 11px; height: 11px; }
                    #maximize-control { width: 11px; height: 11px; }
                    #close-control { width: 9px; height: 9px; }
                /* #endregion */
            /* #endregion */
        /* #endregion */
        /* #region Page-Content */
            .page-content {
                width: 100%;
                height: calc(100% - 20px);
            }

            /* #region Graph Viewer */
                .graph-viewer-container {
                    width: 60%;
                    height: 100%;

                    background-color: rgb(42, 44, 49);
                }
            /* #endregion */
            /* #region File Viewer */
                .file-viewer-container { 
                    width: 40%;
                    height: 100%;

                    background-color: rgb(190, 190, 190); 
                }
                
                .file-viewer-tools {
                    width: 100%;
                    height: 40px;
                    background-color: red;
                }

                .file-viewer {
                    width: 100%;
                    height: 100%;
                    background-color: blue;
                }
            /* #endregion */
        /* #endregion */
    /* #endregion */
/* #endregion */


/* #region Support-Classes */
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-direction-column { flex-direction: column; }
.full-width { width: 100%; }
.full-height { height: 100%; }
/* #endregion*/